html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----Colors-----*/
/*-----@media Query Sizes-----*/
body {
  background: #fff;
  font-family: "proxima-nova", "BlinkMacSystemFont",-apple-system,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box; }

img {
  width: 100%;
  box-sizing: border-box;
  display: block; }

h1 {
  font-size: 1.6em; }

a {
  text-decoration: none;
  color: #7C6AFF; }
  a:hover {
    color: #463C92; }
  a.btn {
    display: none;
    background: #7C6AFF;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px; }
    a.btn:hover {
      background: #463C92; }
    @media only screen and (min-width: 38em) {
      a.btn {
        display: block; } }

p {
  padding: 1em; }

.header {
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  margin: 25px 0 0;
  z-index: 101; }
  .header .logo {
    display: block;
    max-width: 300px;
    margin: 0 auto; }
    @media only screen and (min-width: 38em) {
      .header .logo {
        display: inline-block;
        width: 180px;
        margin: 0; } }
  .header .credit {
    font-size: .625em;
    position: relative;
    max-width: 180px;
    line-height: 40px; }
    @media only screen and (min-width: 38em) {
      .header .credit {
        margin: 0 0 0 3em;
        line-height: 14px; } }
  .header .inner {
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 50em;
    position: relative;
    border-bottom: 1px #e1e1e1 solid;
    padding: 0 0 10px;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (min-width: 38em) {
      .header .inner {
        padding: 0 10px 30px; } }
  .header .header-left {
    display: inline-block;
    margin: 0 auto;
    color: #656A7A;
    text-align: center; }
  @media only screen and (min-width: 38em) {
    .header .header-left, .header .header-right {
      text-align: left;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0; } }

main {
  color: #656A7A;
  margin: 0 1em; }
  main .number {
    border-radius: 50px;
    background: #fff;
    border: 1px #e1e1e1 solid;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: -10px 0 0 -20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    opacity: 0; }
    @media only screen and (min-width: 38em) {
      main .number {
        opacity: 1; } }
  main #masthead {
    display: block;
    width: 100%;
    text-align: center; }
    main #masthead h1 {
      max-width: 600px;
      margin: 2em auto; }
    main #masthead .big-photo {
      max-width: 600px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 10px;
      border: 1px #b3b4b9 solid;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25); }

.examples {
  box-sizing: border-box;
  padding: 0;
  max-width: 1000px;
  margin: 2em auto; }
  .examples .row {
    box-sizing: border-box; }
    @media only screen and (min-width: 38em) {
      .examples .row {
        display: flex;
        display: inline-flex; } }
  .examples .three-col {
    flex-basis: 33.3% !important;
    padding: 0; }
    @media only screen and (min-width: 38em) {
      .examples .three-col {
        padding: 2em; } }
  .examples .example-img {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    border: 1px #b3b4b9 solid; }
